In [14]:
import pandas as pd
import geopandas as gpd
import shapely
from glob import glob

In [15]:
results = []

for filename in glob("opname_csv_gb/Data/*.csv"):
    df = pd.read_csv(filename, header=None)
    subset = df[df[6] == "populatedPlace"]
    results.append(subset[[2, 8, 9]])

/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,16,17,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,24,25,26,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/553860139.py:4: DtypeWarning: Columns (4,16,17,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)

In [16]:
res = pd.concat(results)

In [20]:
gdf = gpd.GeoDataFrame(res, geometry=gpd.points_from_xy(res[8], res[9], crs=27700))

In [21]:
gdf

                 2       8        9                        geometry
0    Church Fenton  451388   436925   POINT (451388.000 436925.000)
1       Kellingley  453010   424128   POINT (453010.000 424128.000)
2       Half Acres  442612   425013   POINT (442612.000 425013.000)
3           Newton  444690   427852   POINT (444690.000 427852.000)
4        Gateforth  455954   428629   POINT (455954.000 428629.000)
..             ...     ...      ...                             ...
12       West Yell  445549  1183102  POINT (445549.000 1183102.000)
13        Hamnavoe  449675  1180559  POINT (449675.000 1180559.000)
14       Colvister  451579  1197025  POINT (451579.000 1197025.000)
15          Aywick  453140  1186685  POINT (453140.000 1186685.000)
556      Cunnister  452728  1196685  POINT (452728.000 1196685.000)

[43208 rows x 4 columns]

In [22]:
gdf = gdf.to_crs(4326)

In [23]:
gdf

                 2       8        9                   geometry
0    Church Fenton  451388   436925  POINT (-1.22079 53.82606)
1       Kellingley  453010   424128  POINT (-1.19835 53.71089)
2       Half Acres  442612   425013  POINT (-1.35575 53.71979)
3           Newton  444690   427852  POINT (-1.32385 53.74514)
4        Gateforth  455954   428629  POINT (-1.15294 53.75103)
..             ...     ...      ...                        ...
12       West Yell  445549  1183102  POINT (-1.17194 60.52893)
13        Hamnavoe  449675  1180559  POINT (-1.09741 60.50562)
14       Colvister  451579  1197025  POINT (-1.05846 60.65320)
15          Aywick  453140  1186685  POINT (-1.03269 60.56017)
556      Cunnister  452728  1196685  POINT (-1.03754 60.64999)

[43208 rows x 4 columns]

In [29]:
gdf.columns = ['name', 'OS_X', 'OS_Y', 'geometry']

In [30]:
gdf['lat'] = gdf.geometry.y
gdf['lon'] = gdf.geometry.x

In [33]:
gdf[['name', 'lat', 'lon']].to_csv("places.csv")

In [34]:
!ls -lah

total 203824
drwxr-xr-x    8 robin  staff   256B 28 Mar 09:20 .
drwxr-xr-x  395 robin  staff    12K 27 Mar 22:30 ..
-rw-r--r--@   1 robin  staff   6.0K 27 Mar 22:30 .DS_Store
drwxr-xr-x    3 robin  staff    96B 28 Mar 09:07 .ipynb_checkpoints
-rw-r--r--    1 robin  staff    18K 28 Mar 09:19 Untitled.ipynb
drwx------@   6 robin  staff   192B 27 Mar 22:32 opname_csv_gb
-rw-r--r--@   1 robin  staff    97M 27 Mar 22:29 opname_csv_gb.zip
-rw-r--r--    1 robin  staff   2.1M 28 Mar 09:20 places.csv

In [49]:
output = "export const places = ["
for _, row in gdf[['name', 'lat', 'lon']].iterrows():
    output += f'["{row['name']}",{round(row.lat, 3)},{round(row.lon, 3)}],\n'
output += "]"

In [50]:
with open("places.js", "w") as f:
    f.write(output)

In [43]:
gdf.name

0      Church Fenton
1         Kellingley
2         Half Acres
3             Newton
4          Gateforth
           ...
12         West Yell
13          Hamnavoe
14         Colvister
15            Aywick
556        Cunnister
Name: name, Length: 43208, dtype: object