In [14]:
import pandas as pd
import geopandas as gpd
import shapely
from glob import glob

In [58]:
results = []

for filename in glob("opname_csv_gb/Data/*.csv"):
    df = pd.read_csv(filename, header=None)
    subset = df[df[6] == "populatedPlace"]
    results.append(subset[[2, 4, 8, 9]])

/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,16,17,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,24,25,26,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)
/var/folders/v0/p9_n6wqj1jb7xn4q18f7p_q40000gn/T/ipykernel_78359/4191986483.py:4: DtypeWarning: Columns (4,16,17,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, header=None)

In [59]:
res = pd.concat(results)

In [60]:
gdf = gpd.GeoDataFrame(res, geometry=gpd.points_from_xy(res[8], res[9], crs=27700))

In [61]:
gdf = gdf.to_crs(4326)

In [62]:
gdf

                 2    4       8        9                   geometry
0    Church Fenton  NaN  451388   436925  POINT (-1.22079 53.82606)
1       Kellingley  NaN  453010   424128  POINT (-1.19835 53.71089)
2       Half Acres  NaN  442612   425013  POINT (-1.35575 53.71979)
3           Newton  NaN  444690   427852  POINT (-1.32385 53.74514)
4        Gateforth  NaN  455954   428629  POINT (-1.15294 53.75103)
..             ...  ...     ...      ...                        ...
12       West Yell  NaN  445549  1183102  POINT (-1.17194 60.52893)
13        Hamnavoe  NaN  449675  1180559  POINT (-1.09741 60.50562)
14       Colvister  NaN  451579  1197025  POINT (-1.05846 60.65320)
15          Aywick  NaN  453140  1186685  POINT (-1.03269 60.56017)
556      Cunnister  NaN  452728  1196685  POINT (-1.03754 60.64999)

[43208 rows x 5 columns]

In [63]:
gdf.columns = ['name1', 'name2', 'OS_X', 'OS_Y', 'geometry']

In [64]:
gdf['lat'] = gdf.geometry.y
gdf['lon'] = gdf.geometry.x

In [66]:
output = "export const places = ["
for _, row in gdf[['name1', 'lat', 'lon']].iterrows():
    output += f'["{row['name1']}",{round(row.lat, 3)},{round(row.lon, 3)}],\n'
for _, row in gdf[['name2', 'lat', 'lon']].dropna().iterrows():
    output += f'["{row['name2']}",{round(row.lat, 3)},{round(row.lon, 3)}],\n'
output += "]"

In [67]:
with open("places2.js", "w") as f:
    f.write(output)

In [51]:
df

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,osgb4000000074541557,http://data.ordnancesurvey.co.uk/id/4000000074...,Otterswick,NaN,NaN,NaN,populatedPlace,Other Settlement,451984,1186231,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,http://dbpedia.org/resource/Otterswick,NaN
1,osgb4000000074559498,http://data.ordnancesurvey.co.uk/id/4000000074...,Gossabrough,NaN,NaN,NaN,populatedPlace,Hamlet,452598,1183230,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,http://dbpedia.org/resource/Gossabrough,NaN
2,osgb4000000074555023,http://data.ordnancesurvey.co.uk/id/4000000074...,West Sandwick,NaN,NaN,NaN,populatedPlace,Village,444964,1187974,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,http://dbpedia.org/resource/West_Sandwick,NaN
3,osgb4000000074554664,http://data.ordnancesurvey.co.uk/id/4000000074...,Setter,NaN,NaN,NaN,populatedPlace,Hamlet,445921,1181915,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,NaN,NaN
4,osgb4000000074554275,http://data.ordnancesurvey.co.uk/id/4000000074...,Sellafirth,NaN,NaN,NaN,populatedPlace,Other Settlement,452218,1197886,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,osgb4000000074587146,http://data.ordnancesurvey.co.uk/id/4000000074...,North Bratta Geo,NaN,NaN,NaN,landform,Other Coastal Landform,459259,1189940,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,NaN,NaN
553,osgb4000000073337421,http://data.ordnancesurvey.co.uk/id/4000000073...,Oddsta Ferry Terminal,NaN,NaN,NaN,transportNetwork,Vehicular Ferry Terminal,458558,1194468,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,NaN,NaN
554,osgb5000005273375562,http://data.ordnancesurvey.co.uk/id/5000005273...,Mid Yell Junior High School,NaN,NaN,NaN,other,Secondary Education,451300,1190699,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,NaN,NaN
555,osgb4000000073338403,http://data.ordnancesurvey.co.uk/id/4000000073...,Gutcher,NaN,NaN,NaN,transportNetwork,Vehicular Ferry Terminal,454948,1199283,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,NaN,NaN
556,osgb4000000074554274,http://data.ordnancesurvey.co.uk/id/4000000074...,Cunnister,NaN,NaN,NaN,populatedPlace,Other Settlement,452728,1196685,...,Shetland Islands,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,Scotland,http://data.ordnancesurvey.co.uk/id/7000000000...,Scotland,http://data.ordnancesurvey.co.uk/id/country/sc...,NaN,NaN,NaN

In [52]:
df = pd.read_csv("opname_csv_gb/Data/SS68.csv", header=None)

In [57]:
df[[2, 4]].dropna()

                     2                4
8         Briton Ferry        Llansawel
15           Morriston         Treforys
45            Abertawe          Swansea
61             Mumbles          Mwmbwls
85             Landore          Glandwr
...                ...              ...
10496  Westbourne Road  Heol Westbourne
10509     Wenham Place       Lle Wenham
10531   St Kitts Place     Man St Kitts
10546      High Street       Stryd Fawr
10549        Ocean Way  Ffordd Y Cefnor

[393 rows x 2 columns]